@media screen and (max-width: 420px) {
    .header__top__menu {
        display: none;
    }

    .header__top__menu__call {
        display: none;
    }

    .header__top {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin-bottom: 35px;
    }

    .phone-block {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .header__bootum {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .header__bootum > h2 {
        font-size: 20px;
        text-align: center;
    }

    .header__bootum {
        margin: 10px 0 10px 0;
    }

    .header__bootum > h1 {
        font-size: 45px;
        text-align: center;
    }

    .header__bootum p::before,
    .header__bootum p::after {
        content: '';
        display: none;
    }

    .header__bootum > button {
        margin-top: 50px;
    }

    .header-absolut {
        width: 100%;
        height: 130%;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
        top: 500px;
        left: auto;
    }

    .header-absolut__block {
        width: 290px;
        height: 276px;
    }
    /*--------------------------our-history-------------------------------------*/
    .our-history {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }

    .our-history__text {
        width: 100%;
        margin-top: 350px;
        padding: 0 10px 0 10px;
        box-sizing: border-box;
    }

    .history-one, .history-twoo {
        font-size: 27px;
    }
    /*-----------------foto---------------------------------------*/
    .our-history > .foto1 {
        width: 138px;
        height: 206px;
        top: 2067px;
        left: 50px;
    }

    .our-history > .foto2 {
        top: 2050px;
        left: 260px;
        width: 135px;
        height: 165px;
    }

    .our-history > .foto3 {
        top: 1960px;
        left: 137px;
        width: 138px;
        height: 222px;
    }

    .our-history > .design-box {
        top: 1990px;
        left: 210px;
        width: 114px;
        height: 85px;
    }
/*-----------------------------our-history__numbers------------------------------------------*/
.our-history__numbers {
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}
/*-------------------------------------------------------------------*/
.black {
    width: 100%;
}

.bagraund-black {
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    margin-top: 250px;
    padding-top: 30px;
    box-sizing: border-box;
}

.bagraund-black > button {
    margin-bottom: 30px;
}

.black__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}

.black__text__one {
    font-size: 30px;
    text-align: center;
    width: 55%;
}

.black__text__twoo {
    font-size: 24px;
    text-align: center;
    width: 80%;
    line-height: 33px;

}





}